.mainPage {
    display: grid;
    grid-template-areas:
        "mainAppointments"
        "mainMenu";
}

.mainMenu {
    grid-area: mainMenu;
}

.mainAppointments {
    grid-area: mainAppointments;
}
