.allAppointments {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "sectionName sectionName"
        "appointments calendar";
    grid-template-columns: 500px auto;
}

.sectionName {
    grid-area: sectionName;
}

.appointments {
    grid-area: appointments;
    overflow: scroll;
}

.calendar {
    grid-area: calendar;
    text-align: center;
}
