.allAppointments {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "sectionName sectionName"
        "appointments calendar"
}

.sectionName {
    grid-area: sectionName;
}

.appointments {
    grid-area: appointments;
    overflow: scroll;
}

.calendar {
    grid-area: calendar;
}
